MONGODB_URI=mongodb://localhost/?directConnection=true
JWT_SECRET=your-secret
JWT_EXPIRE=30d
PORT=3000
CORS_ORIGIN=http://localhost:5173
ZARINPAL_SANDBOX=true
FRONTEND_URL=http://localhost:5173
ZARINPAL_MERCHANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
STRIPE_SECRET_KEY=sk_test_xxxx
STRIPE_PUBLIC_KEY=pk_test_xxxx
